/* Aumenta dimensione font */
body {
  font-size: 18px;
}

/* Colori blu personalizzati */
:root {
  --color-primary: #007acc;
  --color-primary-dark: #005f99;
  --color-primary-light: #3399ff;
}

/* Link */
a {
  color: var(--color-primary);
}

/* Menu navigazione */
.nav-list .nav-list-item .nav-list-link {
  color: var(--color-primary-dark);
}

/* Footer */
.site-footer {
  background-color: var(--color-primary-light);
  color: white;
}
